body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-page {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}

.login-bg {
  background: linear-gradient(90deg, #000851 0%, #1cb5e0 100%);
}

.navbar-bg {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

.navbar-title-text {
  text-decoration: none;
  color: #fff;
}

.page-title {
  font-size: 2.5rem;
  text-align: center;
}

.page-subtitle {
  font-size: 1.9rem;
  text-align: left;
}

.primary-button {
  font-size: 1.2rem;
}

.page-container {
  min-height: calc(100vh - 176px);
}

.movies-bg {
  background: #f0f0f0;
}

.movie-list-title {
  font-size: 1.2rem;
  margin: 0;
}

.movie-list-poster-image {
  width: 100% !important;
}

.movie-list-poster-image img {
  min-height: 330px !important;
  min-width: 220px !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100% !important;
}

.movie-list-overview {
  min-height: 100px;
  max-height: 100px;
}

.overview-text {
  margin: 0 !important;
}

.movie-release-date-text {
  font-size: 0.9rem;
  margin: 5px 0;
}

.movie-title-container {
  position: relative;
  overflow-y: visible;
}

.movie-detail-overview-text {
  font-size: 1.5rem;
  text-align: justify;
  padding: 10px;
  margin-left: 20px;
}

.movie-detail-info-list {
  list-style-type: none;
}

.movie-detail-info-list li {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.movie-detail-info-list span:nth-child(1) {
  font-weight: 700;
  margin-right: 20px;
}

.movie-detail-info-list span:nth-child(2) {
  word-break: break-all;
}

.favorite-icon {
  font-size: 50px !important;
  margin-left: 20px;
  cursor: pointer;
}

.favorite-icon-is-favorite {
  color: #fdfd3c;
  background: linear-gradient(90deg, #000851 40%, #1cb5e0 100%);
  border-radius: 50%;
}

/* Loader */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
}

.loader-animation {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.votes-average-badge-container {
  position: absolute;
  top: -40px;
  right: -20px;
  background: linear-gradient(90deg, #000851 40%, #1cb5e0 100%);
  color: #fff;
  border-radius: 8px;
  padding: 10px 7px;
  font-size: 1rem;
  font-weight: 700;
  min-width: 50px;
}

/* Footer */

.footer {
  font-size: 1.2rem;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer-author-text {
  color: #fff;
}

.footer-title {
  display: flex;
  align-items: center;
}

footer {
  margin-top: 40px;
}

/* CUSTOM MUI */

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #1cb5e0 !important;
  font-weight: 700;
}

/* QUERYS */

@media (max-width: 600px) {
  .page-container {
    min-height: calc(100vh - 168px);
  }
}
